*{padding: 0;
    margin: 0;
}
 ol,ul{list-style: none;
 }
html{scroll-behavior: smooth;

}

body {
    background-color:#9370DB ;
}
header{
    background-color:#6546a1; 
    text-align: center;
    padding: 1%;
}
    
img{
    width: 10%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto
}

.menu ul li{
    line-height:1.5 ;
}
h1,h2{
    font-family: 'Concert One', cursive;
        text-align: center;
        margin-top:  1%;
        margin-bottom: 2%;
}
p{
    font-family: 'Comfortaa', cursive;
    line-height: 1.5;
}
.video{
    text-align: center;
    width: 50%;
    float: left;
    margin-bottom: 2%;
    margin-top: 2%;
}
footer{
    clear: both;
    background-color:#6546a1;
    padding-top:1%;
    padding-bottom:2% ;

}

footer {
    clear: both;
    

}
footer p{
    text-align: center;
}


/* unvisited link */
a{
    text-decoration: none;
    font-family: 'Concert One', cursive;
    font-size: large;
    font-weight: bolder;

}

a:link {
    color: black
  }
  
  /* visited link */
  a:visited {
    color: black
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    background-color: black;
    padding:0.7%;
    border-radius:20% ;
  }
  
  /* selected link */
  a:active {
    color: black
  }
  