body {
    background-color:#9370DB ;
}

img{
    width: 10%;
}

figure{
    text-align: center;
}

.container{
    width: 80%;
    margin: auto
}

h1,h2{
    font-family: 'Concert One', cursive;
        text-align: center;
}
p{
    font-family: 'Comfortaa', cursive;
}
